<div id="ribbon">
      <div class="logo">
        <h1>CodeStainz<span>Notes</span></h1>
      </div>

      <a href="#" id="addNote"><i class="fa fa-plus"></i></a>
  </div >
  <form id="noteForm">
      <input type="text" id="noteTitle" placeholder="Enter title...">
      <input type="text" id="newNote" name="note" placeholder="Enter note...">

      <hr>

      <a href="#" class="noteButton cancel" id="cancel">Cancel</a>
      <a href="#" class="noteButton clearAll" id="clearAll">Clear All</a>
      <a href="#" class="noteButton enter" id="enter">Enter</a>
</form>
  <main>
    <ul id="noteList">
    </ul>
  </main>
