<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, suscipit expedita unde placeat natus quibusdam distinctio ipsam est explicabo nemo.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, corporis, nulla. Cum, aperiam eligendi quae consequuntur quibusdam aliquid eaque nam!</p>
  </div>

  <div class="col-2 homepage_content">
    <h2><a href="#">Stuff I've Written</a></h2>
    <hr>
    
    <% @post.each do |post| %>
    <h3><a href="#"><%= link_to post.title, post %></a></h3>
    <P class="date"><%= post.created_at.strftime("%A, %b, %d")%></P>
    <% end %>
  </div>

  <div class="col-3 homepage_content">
    <h2><a href="#">Stuff I've Built</a></h2>
    <hr>
    <h3><a href="#">Unicasts</a></h3>
    <P class="date">Friday April 10th</P>
    <h3><a href="#">Community</a></h3>
    <P class="date">Friday April 10th</P>
    <h3><a href="#">12 in 12 challegnge</a></h3>
    <P class="date">Friday April 10th</P>
  </div>
</div><!-- end of main content wrapper -->
