<h1 id="page_title">About</h1>

<div class="skinny_wrapper wrapper_padding aboutContent">

  <div class="aboutMeDescription">
    <h2>Fun Facts</h2>
    <p>I was born and raised in Seattle, WA.  I have traveled to South Africa, and Chile.  My interest in programming began on the linux distro Ubuntu.  I also enjoy running, watching football and working out at the gym.  At the end of the day I like to dive into a book.</p>
  </div>

  <div class="techbox">
    <h2 class="tech">Technologies</h2>
    <div class="clearfix">
      <div class="familiar">
        <h3>Most Familiar with:</h3>
        <ul >
          <li>Swift</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>jQuery</li>
          <li>Git</li>
          <li>IOS SDK</li>
          <li>Xcode</li>
        </ul>
      </div> <!-- end of familiar -->

      <div class="workedWith">
        <h3 >Have worked with:</h3>
        <ul>
          <li>Bootstrap</li>
          <li>Sass</li>
          <li>Ruby</li>
          <li>Rails</li>
          <li>Objective-C</li>
          <li>XML</li>
        </ul>
      </div> <!-- end of workedWith -->
    </div> <!-- end of clearfix -->
  </div>
</div> <!-- end of skinny wrapper -->
