.col-1, .col-2, .col-3 {
  width: 100%;
  text-align: center;
}

.col-1, .col-2 {
  border-bottom: 1px solid $border;
}

.col-1, .col-2, {
  padding-bottom: 2em;
}

.col-3, .col-2 {
  padding-top: 3em;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }

  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }

  .date {
    font-size: .8em;
    margin-bottom: 2em;
    color: $light;
  }

  p {
    margin: 0 0 .75em 0;
  }
}

hr {
  margin-left: auto;
  margin-right: auto;
}
